/* /**************            ************ *
 *********** FORMATAÇÕES PADRÕES  ***********/

body, h1, h2, h4, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
} 

/**************         ************
 *********** TOPO  ************/

#menu-bg {
    background: linear-gradient(to right, rgb(15, 15, 15), rgb(20, 20, 20), rgb(20, 20, 20), rgb(20, 20, 20), rgb(20, 20, 20), rgb(15, 15, 15));
    box-shadow: 0px 10px 10px 2px #ccc;
}

#menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#menu-logo img {
    width: 65px;
    height: 65px;
    display: block;
    transition: 0.3s ease-out;
}

#menu-logo:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

#menu-nav a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: 0px 5px;
    padding: 5px 8px;
    border-radius: 7px;
}

#menu-nav ul li:nth-last-child(1) {
    background: rgb(0, 135, 139);
    border-radius: 7px;
    margin-left: 40px;
}

#menu-login a {
    color: white;
}

#menu-nav a:hover {
    color: #006577;
}

#menu-nav ul li:nth-last-child(1) {
    color: white;
}

/**************            ************
 *********** ACESSO RAPIDO  ************/

#acesso-rapido {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex: wrap;
    justify-content: center;
}

.caixa-rapido {
    background: rgb(53, 195, 119);
    width: 220px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-out;
    box-shadow: 20px 20px 10px 2px #ccc;
}

.caixa-rapido:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.caixa-rapido a img {
    max-width: 50%;
    margin-top: 20px;
    margin-left: 5px;
}

.caixa-rapido a {
    color: white;
}

.caixa-rapido a h2 {
    text-shadow: 1px 0px 1px black;
    margin-left: 20px;
    font-weight: bold;
    font-size: 2em;
}

.caixa-rapido a p {
    text-shadow: 0px 0px 1px black;
    margin-left: 20px;
    margin-top: 15px;
}

/**************            ************
 *********** RODAPÉ  SITE  ************/

#rodape-bg {
    background: #000;
}

#rodape {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#rodape-logo img {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 26px;
}



#redes-sociais img{
    width: 35px;
    height: 35px;
    margin: 15px;
    margin-top: 18px;
    transition: 0.4s ease-out;

}

#redes-sociais img:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#redes-sociais a {
    background: #222326;
    border-radius: 150px;
}


#rodape div#rodape-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rodape div h4 {
    align-self: center;
    border-bottom: 1px solid #919496;
}

#rodape div a {
    color: white;
    font-size: 1em;
    display: inline-block;
    margin: 5px 0px;
}

#rodape h4 {
    color: #919496;
}

#rodape div a:hover {
    color: #006577;
}

/**************            ************
 *********** TELA CADASTRO  ************/

#tela-login-cadastro-bg {
    background: linear-gradient(#f2fafd, white);
}

#texto {
    padding: 50px 0 20px 50px;
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 3px solid rgb(88, 82, 177);
    margin-bottom: 30px;
    border-radius: 5px;
}

#texto h1 {
    font-size: 2em;
    color: #222222;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#texto p {
    color: rgb(112, 112, 112);
    font-size: 1.2em;
}

#tela-login-cadastro {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#top-caixa-cadastro, #top-caixa-login {
    padding: 15px;
    background: rgb(230, 44, 30);
    color: white;
    /* text-shadow: 0px 0px 1px black; */
    /* border-radius: 15px; */
}

#top-caixa-cadastro p, #top-caixa-login p {
    margin-bottom: 5px;
}

#top-caixa-login {
    background: rgb(0, 156, 47);
}

#top-caixa-cadastro p, #top-caixa-login p {
    font-size: 0.8em;
}

.sem-borda {
    border: none !important;
}

/**************            ************
 *********** Formulário Cadastro  ************/

.formulario-cadastro, .formulario-login {
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    box-shadow: 12px 12px 12px 0px #ccc;
    margin-bottom: 60px;
    border-radius: 15px;
    background: rgb(253, 253, 253);
}

.formulario-login {
    height: 300px;
}

.formulario-cadastro h4, .formulario-login h4 {
    text-transform: uppercase;
    color: rgb(255, 136, 0);
    border-bottom: 1px solid rgb(255, 136, 0);
    margin: 20px 0px 20px 0px;
    ;
}

.formulario-cadastro p, .formulario-login p {
    font-style: italic;
    color: rgb(151, 151, 151);
}

.formulario-cadastro input, .formulario-login input {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    margin: 7px 0;
    border-radius: 3px;
    background: white;
    ;
}

input[type="text"], input[type="email"] {
    width: 20em;
    height: 2em;
}

.cpf input {
    width: 10em;
}

.senha input {
    width: 12em;
    height: 2em;
}

.numero input {
    width: 5em;
}

.cep input {
    width: 10em;
}

.formulario-cadastro label, .formulario-login label {
    font-size: 1em;
    margin-right: 13px;
    color: #535353;
}

.formulario-cadastro fieldset legend {
    font-weight: bold;
    font-size: 1.05em;
}

.formulario-cadastro input.submit, .formulario-login input.submit {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    width: 170px;
    height: 30px;
    font-size: 1em;
    margin-left: 110px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(to bottom, rgb(230, 44, 30), rgb(230, 44, 30));
    border: 4px solid white;
    padding-top: 3px;
    padding-bottom: 25px;
}

.formulario-login input.submit {
    background: linear-gradient(to bottom, rgb(0, 156, 47), rgb(0, 156, 47));
}

.formulario-cadastro input.submit:hover {
    color: white;
    background: rgb(88, 6, 0);
}

.formulario-login input.submit:hover {
    color: white;
    background: rgb(16, 75, 29);
}

/**************            ************
 *********** CONHEÇA O SIGE  ************/

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 40px 80px;
}

.conteudo h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
    margin-bottom: 15px;
}

.conteudo p {
    margin-bottom: 20px;
}

/* Efeito Parallax */

.caixa1, .caixa2, .caixa3, .caixa4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(../img/palestras1.jpg);
}

.caixa2 {
    background-image: url(../img/palestras2.jpg);
}

.caixa3 {
    background-image: url(../img/palestras3.jpg);
}

.caixa4 {
    background-image: url(../img/palestras4.jpg);
}

.conteudo-titulo span.titulo {
    text-transform: uppercase;
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}

/**************            ************
 *********** Contato ************/

#contato-titulo {
    background: rgb(52, 98, 104);
    max-width: 960px;
    margin: 40px auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 0px;
}

#contato-titulo h3 {
    color: white;
    font-size: 2em;
}

#contato-conteudo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;
}

.contato-ajuda img {
    width: 35px;
    height: 30px;
}

.contato-ajuda h4 {
    font-size: 1.2em;
    margin: 10px 0;
    color: rgb(52, 98, 104);
}

/* "Tem alguma dúvida?" / */

.contato-ajuda p:first-of-type {
    margin: 15px 0 25px 0;
    color: rgb(138, 138, 138);
}

.contato-ajuda p:last-of-type {
    color: #222;
    font-weight: bold;
}


/* VOLTAR AO TOPO / SOBRE */

.voltar-ao-topo {
    position: fixed;
    bottom: 1.7em;
    right: 1.7em;
    padding: 7px;
}

.voltar-ao-topo img {
    width: 40px;
    height: 40px;
}
.voltar-ao-topo:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}