/* /**************            ************ *
 *********** FORMATAÇÕES PADRÕES  ***********/

body, h1, h2, h3, h4, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**************         ************
 *********** TOPO  ************/

#menu-bg {
    background: linear-gradient(to right, rgb(15, 15, 15), rgb(20, 20, 20), rgb(20, 20, 20), rgb(20, 20, 20), rgb(20, 20, 20), rgb(15, 15, 15));
    box-shadow: 0px 10px 10px 2px #ccc;
}

#menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#menu-logo img {
    width: 65px;
    height: 65px;
    display: block;
    transition: 0.3s ease-out;
}

#menu-logo:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

#menu-nav a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: 0px 5px;
    padding: 5px 8px;
    border-radius: 7px;
}

#menu-nav.ultimo-azul ul li:nth-last-child(1) {
    background: rgb(0, 135, 139);
    border-radius: 7px;
    margin-left: 40px;
}

#menu-login a {
    color: white;
}

#menu-nav a:hover {
    color: #006577;
}

#menu-nav ul li:nth-last-child(1) {
    color: white;
}

#menu p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.1em;
}

#menu-nav li.sair a, #menu li.sair a, #menu li.sair a.adm {
    color: white;
    text-decoration: underline;
    font-family: "Nunito";
    font-weight: bold;
}

#menu-nav li.sair a:hover, #menu li.sair a:hover {
    color: #D20001;
}

li.sair {
    position: relative;
}

.sair a::before {
    position: absolute;
    content: "";
    background: url(../img/seta-sair.png) no-repeat;
    width: 35px;
    height: 35px;
    background-size: 20px;
    left: 42px;
    top: 0px;
}

.sair a.adm::before {
    position: absolute;
    content: "";
    background: url(../img/seta-sair.png) no-repeat;
    width: 45px;
    height: 45px;
    background-size: 20px;
    left: 26px;
    top: -5px;
}

/* Submenu */

#menu ul.submenu {
    position: absolute;
    top: 45px;
    right: 160px;
    display: none;
    z-index: 1;
}

#menu li:hover ul, #menu li.over ul.submenu {
    display: block;
}

#menu li ul.submenu li {
    display: block;
}

#menu-nav img {
    width: 20px;
    height: 20px;
}

#menu-nav ul.submenu {
    background: #222222;
    border-radius: 10px;
}

#menu-nav ul.submenu li a{
    color: white;
    text-align:center;
}

#menu-nav ul.submenu li a:hover{
    color: #006577;

}

/* FIM SUBMENU */ 

/**************            ************
 *********** ACESSO RAPIDO  ************/

#acesso-rapido {
    max-width: 960px;
    margin: 80px auto;
    display: flex;
    flex: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.caixa-rapido {
    background: rgb(32, 163, 93);
    width: 220px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-out;
    box-shadow: 20px 20px 10px 2px #ccc;
    margin-left: 70px;
}

.caixa-rapido:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.caixa-rapido a img {
    max-width: 50%;
    margin-top: 20px;
    margin-left: 46px;
}

.caixa-rapido a {
    color: white;
}

.caixa-rapido a h2 {
    text-shadow: 1px 0px 1px black;
    margin-left: 20px;
    font-weight: bold;
    font-size: 2em;
}

.caixa-rapido a p {
    text-shadow: 0px 0px 1px black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

#acesso-rapido div.adm:nth-child(1) {
    background: rgb(82, 80, 201);
}

#acesso-rapido div:nth-child(1) img {
    max-width: 45%;
    margin-top: 29px;
    margin-left: 60px;
    margin-bottom: 1px;
}

#acesso-rapido div:nth-child(1) h2 {
    margin-left: 0;
    text-align: center;
}

#acesso-rapido div:nth-child(3) {
    background: rgb(136, 2, 2);
}

#acesso-rapido div:nth-child(3) img {
    max-width: 48%;
    margin-top: 22px;
    margin-left: 60px;
    margin-bottom: 1px;
}

/**************            ************
 *********** RODAPÉ  SITE  ************/

#rodape-bg {
    background: #000;
}

#rodape-bg.rodape-no-final-da-pagina {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
}

#rodape {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#rodape-logo img {
    width: 50%;
    height: 50%;
    transition: 0.3s ease-out;
}

#rodape-logo:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    pad
}

#redes-sociais img {
    width: 35px;
    height: 35px;
    margin: 15px;
    margin-top: 18px;
    transition: 0.4s ease-out;
}

#redes-sociais img:hover {
    transition: all 0.3s ease;
    transform: scale(0.9);
}

#redes-sociais a {
    background: #222326;
    border-radius: 150px;
}

#rodape div#rodape-nav ul {
    display: flex;
    justify-content: center;
}

#rodape div#rodape-nav ul li a {
    margin-left: 20px;
}

#rodape div h4 {
    align-self: center;
    border-bottom: 1px solid #919496;
}

#rodape div a {
    color: white;
    font-size: 1em;
    display: inline-block;
    margin: 5px 0px;
}

#rodape h4 {
    color: #919496;
}

#rodape div a:hover {
    color: #006577;
}

/************* RODAPE - ADM ********/

#rodape-logo-adm img {
    width: 90px;
    height: 90px;
}

#rodape #rodape-logo-adm {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/**************            ************
 *********** TELA CADASTRO  ************/

#tela-login-cadastro-bg {
    background: linear-gradient(#f2fafd, white);
}

#texto {
    padding: 50px 0 20px 50px;
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 3px solid rgb(88, 82, 177);
    margin-bottom: 30px;
    border-radius: 5px;
}

#texto h1 {
    font-size: 2em;
    color: #222222;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#texto p {
    color: rgb(112, 112, 112);
    font-size: 1.2em;
}

#tela-login-cadastro {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#top-caixa-cadastro, #top-caixa-login {
    padding: 15px;
    background: rgb(201, 35, 23);
    color: white;
    /* text-shadow: 0px 0px 1px black; */
    /* border-radius: 15px; */
}

#top-caixa-cadastro p, #top-caixa-login p {
    margin-bottom: 5px;
}

#top-caixa-login {
    background: rgb(0, 129, 39);
}

#top-caixa-cadastro p, #top-caixa-login p {
    font-size: 0.8em;
}

.sem-borda {
    border: none !important;
}

/**************            ************
 *********** Formulário Cadastro  ************/

.formulario-cadastro, .formulario-login {
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    box-shadow: 12px 12px 12px 0px #ccc;
    margin-bottom: 60px;
    border-radius: 15px;
    background: rgb(253, 253, 253);
}

.formulario-login {
    height: 300px;
}

.formulario-cadastro h4, .formulario-login h4 {
    text-transform: uppercase;
    color: rgb(255, 136, 0);
    border-bottom: 1px solid rgb(255, 136, 0);
    margin: 20px 0px 20px 0px;
}

.formulario-cadastro p {
    margin-bottom: 12px;
    color: #FF9933;
    border-bottom: 1px solid #FF9933;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-style: none;
    padding: 0px 10px;
}

.ui-widget-content {
    border: 0px solid #a8a8a8;
}

.ui-panelgrid {
    border-collapse: none;
}

.ui-widget {
    font-family: "Nunito";
}

/* Input */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #a8a8a8;
    border-left: 5px solid #CCCCCC;
    margin-bottom: 15px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Nunito";
}

.ui-inputfield {
    padding-left: 10px;
    margin-top: 4px;
}

/* BOT�O ENTRE */

.ui-widget-content .ui-state-default.botao-entrar {
    border: 0px solid #a8a8a8;
    color: white;
    background: green;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.7);
    margin-top: 5px;
}

.ui-widget-content .ui-state-default.botao-cadastrar {
    border: 0px solid #a8a8a8;
    color: white;
    background: red;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.7);
    margin-top: 5px;
}

.campo-entrada {
    width: 100%;
}

/**************            ************
 *********** CONHEÇA O SIGE  ************/

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 40px 80px;
}

.conteudo h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
    margin-bottom: 15px;
}

.conteudo p {
    margin-bottom: 20px;
}

/* Efeito Parallax */

.caixa1, .caixa2, .caixa3, .caixa4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(../img/palestras1.jpg);
}

.caixa2 {
    background-image: url(../img/palestras2.jpg);

}

.caixa3 {
    background-image: url(../img/palestras3.jpg);

}

.caixa4 {
    background-image: url(../img/palestras4.jpg);

}

.conteudo-titulo span.titulo {
    text-transform: uppercase;
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    border-radius: 6px;
}

/**************            ************
 *********** Contato ************/

#contato-titulo {
    background: rgb(52, 98, 104);
    max-width: 960px;
    margin: 40px auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 0px;
}

#contato-titulo h3 {
    color: white;
    font-size: 2em;
}

#contato-conteudo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 90px;
}

.contato-ajuda img {
    width: 35px;
    height: 30px;
}

.contato-ajuda h4 {
    font-size: 1.2em;
    margin: 10px 0;
    color: rgb(52, 98, 104);
}

/* "Tem alguma dúvida?" / */

.contato-ajuda p:first-of-type {
    margin: 15px 0 25px 0;
    color: rgb(138, 138, 138);
}

.contato-ajuda p:last-of-type {
    color: #222;
    font-weight: bold;
}

/* VOLTAR AO TOPO / SOBRE */

.voltar-ao-topo {
    position: fixed;
    bottom: 1.7em;
    right: 1.7em;
    padding: 7px;
}

.voltar-ao-topo img {
    width: 40px;
    height: 40px;
}

.voltar-ao-topo:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

/********************* EVENTOS *******************/

#eventos {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#eventos-titulo {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(88, 82, 177);
    margin-bottom: 30px;
}

#eventos-titulo img {
    align-self: flex-start;
    width: 80px;
    height: 90px;
    margin-right: 35px;
}

#eventos-titulo h2 {
    align-self: flex-end;
    margin-left: 35px;
    color: #222222;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

#conteudo-eventos {
    padding: 40px 0px;
    width: 1012px;
    margin: 0 auto;
    background: rgb(238, 238, 240);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.caixa-eventos {
    margin-left: 38px;
    width: 450px;
    height: 680px;
    background: #fff;
    display: flex;
    border-radius: 10px;
    transition: 0.3s ease-out;
    margin-bottom: 30px;
    flex-wrap: wrap;
    position: relative;
}

.caixa-eventos:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    background: rgb(231, 231, 231);
}

.caixa-eventos img {
    width: 100%;
    border-radius: 10px;
}

.caixa-eventos h5 {
    margin: 10px;
    color: #4753f5;
    font-size: 0.9em;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #4753f5;
    display: inline-block;
}

.posicionar-fixo {
    position: absolute;
    bottom: 5px;
}


.caixa-eventos p:nth-of-type(1) {
    margin: 0 10px;
    text-align: justify;
    color: rgb(102, 102, 102);
}

.caixa-eventos .posicionar-fixo p:nth-of-type(1n) {
    margin: 10px 28px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 17px;
}


                                    

/******************* PÁGINA DE UM EVENTO ***************/

#capa-evento img {
    width: 700px;
    height: 400px;
    border-radius: 10px;
}

#conteudo-pagina-evento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0px 70px 240px;
}

#capa-evento {
    grid-row: 1/2;
    margin-right: 50px;
}

#texto-pagina-evento {
    grid-row: 2/3;
    padding: 20px;
    margin-right: 30px;
}

#texto-pagina-evento h4 {
    font-size: 1.4em;
    margin-bottom: 13px;
}

#texto-pagina-evento p {
    font-size: 1em;
    line-height: 28px;
    margin-bottom: 10px;
    color: black;
}

#informacoes-evento {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    border: 1px solid grey;
    padding-top: 10px;
}

#informacoes-evento h4:nth-of-type(1) {
    padding-right: 90px;
    border-right: 1px solid grey;
}

#menu-lateral {
    grid-row: 1/2;
    display: grid;
    max-width: 270px;
    max-height: 360px;
    grid-gap: 20px;
}

.caixa-lateral {
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgb(240, 228, 228);
    background: rgb(238, 238, 238);
}

#titulo-lateral h2 {
    padding: 20px 30px 15px 30px;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 106, 124);
}

.conteudo-lateral {
    text-align: center;
}

.conteudo-lateral a h3 {
    color: rgb(0, 106, 124);
    margin-bottom: 20px;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px;
}

.conteudo-lateral a h3:hover {
    color: rgb(240, 240, 240);
    background: rgb(0, 106, 124);
}

/*** Seta para DIREITA ***/

.seta-direita:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgb(0, 0, 0);
}

#inscrever {
    margin-top: 120px;
    max-width: 270px;
    max-height: 300px;
    grid-row: 2/3;
}

#conteudo-inscrever p {
    font-size: 1.1em;
    font-weight: bold;
}

#titulo-inscrever h2 {
    text-align: center;
    color: white;
    padding: 20px 0;
    border: 2px solid rgb(0, 105, 40);
    border-radius: 50px;
    background: rgb(0, 105, 40);
}

#titulo-inscrever h2:hover {
    background: white;
    color: rgb(0, 105, 40);
}

#titulo-inscrever h2:active {
    background: rgb(0, 105, 40);
    color: white;
}

#conteudo-inscrever {
    padding: 15px;
    text-align: center;
}


/********** PAGINA LOGIN ADM ************/

body#login-adm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-login-adm {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(1, 117, 121), rgb(90, 89, 89)); ;
}

#caixa-login-adm {
    width: 370px;
    height: 300px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background:linear-gradient(to bottom, rgb(1, 117, 121), rgb(90, 89, 89)); 
    z-index: 10;
}

#topo-login-adm h2 {
    letter-spacing: 5px;
    padding-bottom: 10px;
    margin-left: 30px;
    color: black;
}

#topo-login-adm {
    border-bottom: 6px solid black;
    border-radius: 15px;
}

#form\:caixaMensagem_container > div {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}


/* Certificado */





