/**************            ************
 *********** FORMATAÇÕES PADRÕES  ***********/

body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**************         ************
 *********** TOPO  ************/

#menu-bg {
    background: linear-gradient(to right, #ccc, rgb(2, 132, 184), rgb(2, 132, 184), #ccc);
}

#menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /* justify-content: center; */
}

#menu-logo img {
    max-width: 45%;
    display: block;
}

#menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#menu-login ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#menu-login #cadastrar a {
    position: absolute;
    top: -83px;
    right: -210px;
}

#menu-login #cadastrar a::after {
    content: "|";
    margin-left: 14px;
    color: white;
    cursor: auto;
}

#menu-login #entrar a {
    position: absolute;
    top: -83px;
    right: -270px;
}

#menu-nav a {
    color: white;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: 0 5px;
    background: #006577;
    padding: 7px;
    border-radius: 15px;
}

#menu-login a {
    color: white;
}

#menu-login a:hover {
    color: #006577;
}

#menu-nav a:hover {
    background: white;
    color: #006577;
}

/**************            ************
 *********** ACESSO RAPIDO  ************/

#acesso-rapido {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex: wrap;
    justify-content: center;
}

.caixa-rapido {
    background: rgb(53, 195, 119);
    width: 220px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 10px 2px #ccc;
}

.caixa-rapido:hover {
    width: 250px;
    height: 320px;
    transition: width 1s, height 1s;
}

.caixa-rapido a img {
    max-width: 50%;
    margin-top: 20px;
    margin-left: 5px;
}

.caixa-rapido a {
    color: white;
}

.caixa-rapido a h2 {
    text-shadow: 1px 0px 1px black;
    ;
    margin-left: 20px;
    font-weight: bold;
    font-size: 2em;
}

.caixa-rapido a p {
    text-shadow: 0px 0px 1px black;
    ;
    margin-left: 20px;
    margin-top: 15px;
}

/**************            ************
 *********** RODAPÉ  SITE  ************/

#rodape-bg {
    background: rgb(148, 147, 147);
}

#rodape {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#rodape-logo img {
    max-width: 80%;
}

#rodape p {
    color: white;
    align-self: flex-end;
    margin-left: 170px;
    margin-bottom: 10px;
}

#rodape nav {
    display: flex;
    flex-wrap: wrap;
}

#rodape nav h4 {
    margin-left: 80px;
    margin-right: 100px;
    align-self: center;
    border-bottom: 1px solid black;
}

#rodape nav a {
    color: white;
    font-size: 1em;
    display: inline-block;
    margin: 5px 0px;
}

#rodape nav a:hover {
    color: aqua;
}

/**************            ************
 *********** TELA CADASTRO  ************/

#tela-login-cadastro-bg {
    /* background: linear-gradient(rgb(0, 73, 107), white) ; */
}

#texto {
    padding: 50px;
    max-width: 960px;
    margin: 0 auto;
}

#texto h1 {
    font-size: 2em;
}

#tela-login-cadastro {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cadastro {
    background: rgb(240, 240, 240);
    border-radius: 15px;
}

.top-caixa {
    padding: 15px;
    background: rgb(230, 44, 30);
    color: #fff;
    border-radius: 15px;
}

.top-caixa p {
    font-size: 0.8em;
}

/**************            ************
 *********** Formulário Cadastro  ************/

#formulario-cadastro {
    padding: 22px;
}

#formulario-cadastro h4 {
    text-transform: uppercase;
    color: rgb(255, 136, 0);
}

#formulario-cadastro p {
    font-style: italic;
    color: rgb(151, 151, 151);
}

#formulario-cadastro input {
    margin: 7px 0;
    border-radius: 3px;
}

input[type="text"], input[type="email"] {
    width: 20em;
    height: 2em;
}

.cpf input {
    width: 10em;
}

.senha input {
    width: 12em;
    height: 2em;
}

.numero input {
    width: 5em;
}

.cep input {
    width: 10em;
}

#formulario-cadastro label {
    font-size: 1em;
    margin-right: 13px;
    color: #535353;
}

#formulario-cadastro fieldset legend {
    font-weight: bold;
    font-size: 1.05em;
}
